<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/cdn/css/welcomepage.css" >
</head>

<body>
    <header>
        <!-- Content -->
        <div class="content">
            <div class="split left">
                <div class="text-left">
                    <h1 class="title">Get your bills managed with SPLITGORITHM</h1>
                    <h2 class="subtitle">A residential household bill allocation system <br>which takes care of your home expenses</p>
                </div>
                <div class="paybills">
                    <img src="/cdn/images/pay.png" alt="" class="bills">
                    <form action="/splitgorithmPages/signUpPage" method="GET">
                    
                    <button type = "submit" class="button1">Sign up</button>
                </form>
                </div>
            </div>
            <div class="split right">
                <div class="text-right">
                    <h1 class="welcome">Welcome back</h1>
                    <div class="input">
                        <h2>Username</h2>
                        <input type="text" placeholder="Enter your Username"><br>
                        <h3>Password</h3>
                        <input type="text" placeholder="Enter your Password">
                    </div>
                    <div class="sign-in">
                        <button class="button2">Sign in</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>