 
*{
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.side-bar {
  position: fixed;
  left: 0vw;
  width: 13vw;
  height: 100vw;
  background: #042331;
}

.side-bar header {
  font-size: 2vw;
  color: white;
  line-height: 7vw;
  text-align: center;
  background: #063146;
  user-select: none;
}

.side-bar .button{
  font-size: 2vw;
  border: #002211 solid .1vw;
  outline: none;
  padding: auto;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 10px; 
  color:#002211;
  display: block;
  height: 3vw;
  width: 13vw;
  line-height: 1vw;
  font-size: 1vw;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}

section{
  width: 87.1vw;
  height: 100vh;
  margin-left: 15.6vw; 
  transition: all .5s;
  font-family: 'sansserifexbflf-italic'; 
  font-size: 2vw;
  transform: translate(-3.1%,0%);
}

.line {
    border-bottom: 1px solid #002211;
    display: block;
    margin-top: .2vw;
    width: 87.1vw;
}

.buttons1 {
  font-size: 2vw;
  color:#002211;
  outline: none;
  padding: auto;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  width: 15%;
  height: 5%;
  top: 0%;
  left: 2.1vw; 
  transform: translate(-180%,10%); 
}

.active, .buttons1:hover {
  background-color: rgb(189, 156, 8);;
  color: #042331;
}

input{
    width: 10vw;
    height: 35px;
    border: none; 
    border: #042331 solid 2px; 
    font-size: 1vw;
}  

.content {
  font-size: 2vw;
  color: white;
  line-height: 3.5vw;
  text-align: center;
  background: #063146;
  user-select: none;
}

.create-group {
    width: 30vw;
    height: auto;
    font-size: 2vw;
    color:#063146;
    line-height: 5vw;
    text-align: center;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
} 

.join-group {
    width: 35vw;
    height: auto;
    font-size: 2vw;
    color:#063146;
    line-height: 5vw;
    text-align: center;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;  
    position: absolute;
    transform: translate(140%,-100%);
} 

.view-group {
    width: 35vw;
    height: auto;
    font-size: 2vw;
    color:#063146;
    line-height: 5vw;
    text-align: center;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;  
    position: absolute;
    transform: translate(-150%,10%);
}

.buttons2{
  font-size: 2vw;
  border: #002211 solid .1vw;
  outline: none;
  padding: auto;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 10px; 
  color:#002211;
  height: 3vw;
  width: 8vw;
  line-height: 1vw;
  font-size: 1vw;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  transition: .4s;
}

.buttons2:hover {
  background-color: rgb(169,169,169);
}

.buttons3{
  font-size: 2vw;
  border: #002211 solid .1vw;
  outline: none;
  padding: auto;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 10px; 
  color:#002211;
  height: 2vw;
  width: 5vw;
  line-height: 1vw;
  font-size: 1vw;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  transition: .4s;
  transform: translate(270%,-250%);
}

.buttons3:hover {
  background-color: rgb(169,169,169);
} 

.buttons4{
  font-size: 2vw;
  border: #002211 solid .1vw;
  outline: none;
  padding: auto;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 10px; 
  color:#002211;
  height: 3vw;
  width: 8vw;
  line-height: 1vw;
  font-size: 1vw;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  transition: .4s;
  transform: translate(12vw,-7vw);
}

.buttons4:hover {
  background-color: rgb(169,169,169);
} 

 .list {
  height: 0vw;
  width: 25vw;
  font-size: 2vw;
  list-style: square inside url("sqpurple.gif");
  list-style-position: outside;
  line-height: 2.5vw;
  transform: translate(-10vw,-35vw);
  margin-top: 30vw;
  position: absolute;
  text-align: left;
  display: inline-block;
  /* background-color: yellow;  */
}

 .send-invite {
  /* height: 0vw;
  width: auto;
  font-size: 2vw;
  list-style: square inside url("sqpurple.gif");
  list-style-position: outside;
  line-height: 2.5vw;
  transform: translate(40vw,-45vw);
  margin-top: 30vw;
  position: absolute;
  text-align: left;
  display: inline-block; */
  /* background-color: yellow;  */
  width: 35vw;
  height: auto;
  font-size: 2vw;
  color:#063146;
  line-height: 5vw;
  text-align: center;
  -webkit-background-size:cover;
  background-size: cover;
  background-position: center center;  
  position: absolute;
  transform: translate(52vw,-20vw);
}

.buttons5{
  font-size: 2vw;
  border: #002211 solid .1vw;
  outline: none;
  padding: auto;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 10px; 
  color:#002211;
  height: 3vw;
  width: 8vw;
  line-height: 1vw;
  font-size: 1vw;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  transition: .4s;
  transform: translate(5vw,0vw);
}

.buttons5:hover {
  background-color: rgb(169,169,169);
} 


.view-log {
    width: 35vw;
    height: auto;
    font-size: 2vw;
    color:#063146;
    line-height: 5vw;
    text-align: center;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;  
    position: absolute;
    transform: translate(140%,45%);
}

.buttons6{
  font-size: 2vw;
  border: #002211 solid .1vw;
  outline: none;
  padding: auto;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 10px; 
  color:#002211;
  height: 2vw;
  width: 5vw;
  line-height: 1vw;
  font-size: 1vw;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  transition: .4s;
  transform: translate(270%,-250%);
}

.buttons6:hover {
  background-color: rgb(169,169,169);
} 

.buttons7{
  font-size: 2vw;
  border: #002211 solid .1vw;
  outline: none;
  padding: auto;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 10px; 
  color:#002211;
  height: 3vw;
  width: 8vw;
  line-height: 1vw;
  font-size: 1vw;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  transition: .4s;
  transform: translate(12vw,-7vw);
}

.buttons7:hover {
  background-color: rgb(169,169,169);
} 