<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title> 
</head>

<body>
    <section>
        <div class="content">
            <div class="split left">
                <div class="text-left">
                    <h1>About Splitgorithm</h1>
                </div>
                <div class="paybills">
                    <img src="/cdn/images/split.png" alt="" class="bills">
                </div>
            </div>
         <div class="splitright">
            <div class="text-right">
                <p id="p1">Learn all about the splitgorithm app here.</p>
                 <h2>What is Splitgorithm?</h2>
                 <p id="p2">Splitgorithm is an app which helps households to balance their financial responsibilities at just a click of a button. <br/>
                  It does this by dividing each expense equally amongst members of the household in question.
                 </p>
                 <h3>How does it work?</h3>
                 <p id="p3">One member of the household can create a group for the household. <br/> Once the group is created, other members can be invited to join the group via email or they can join on the app using the group name.<br/> Any member can post an expense that they have paid for.<br/>
                     The app will then determine what other members owe to the member who posted the expense.</p>
                 <h4>Why Splitgorithm?</h4>
                 <p id="p4">One of the leading causes of conflicts in households are expenses related.<br/>
                    These can be avoided using the Splitgorithm app.<br/>
                    Using our app every member of the household knows:
                </p>
                <center>
                <div class=benefits>
                 <ul > 
                 <li>Which expense they are responsible for</li>
                 <li >Which expenses are the other members responsible for</li>
                 <li >How much is owed to them at all times</li>
                </ul>
                 <p id="p5">Make your household expenses related conflicts a thing of the past!!!<br>Join the Splitgorithm family today!!! </p>
                 <br/>
                 <form action="/" method="GET">
                    <button type = "submit" class="button1">Go back to Welcome</button>
                </form>
                 </div>
                </center>
                
            </div>
          </div>
        </div>
    </section>
</body>

</html>

</html>