<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Expense</title>
    <link rel="stylesheet" href="/cdn/css/welcome.css" >
</head>

<body>
    <header>
        <!-- Content -->
        <div class="content">
            <div class="split left">
                <div class="text-left">
                    <h1 class="title">Expense Management</h1>
                </div>
                <div class="paybills">
                    <img src="/cdn/images/bills.png" alt="" class="bills">
                </div>
            </div>
            <div class="split right">
                <div class="text-right">
                    <h1 class="welcome">Fill in the entry to add an expense</h1>
                    <form action="/splitgorithm/api/addexpense" method="post">
                    <div><label for="ExpenseName" style="color: #C0C0C0">Expense Name:</label></div>
                    <div><input type="text" id="expensename" expensename="name"></div>
                    <div><label for="ExpenseCost" style="color: #C0C0C0">Amount:</label></div>
                    <div><input type="number" id="expensecost" name="amount"></div>
                    <div><label for="MemberBill" style="color: #C0C0C0">Member Responsible for Expense</label></div>
                    <div><input type="text" id="membername" name="name"></div>
                    <div class="button">
                        <button type="submit">Add & Allocate Expense</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </header>
</body>
</html>
