<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses</title>
    <link rel="stylesheet" href="/cdn/css/homepage.css">
</head>

<div class="side-bar">
    <header>Splitgorithm</header><br>
    <form action="/splitgorithm/homepage" method="GET">
        <div>
            <button class="button" type="submit">Home</button><br>
        </div>
    </form>
    <form action="/splitgorithm/expenses" method="GET">
        <div>
            <button class="button" type="submit">View Expenses</button><br>
        </div>
    </form>
    <form action="/splitgorithm/addexpense" method="GET">
        <div>
            <button class="button" type="submit">Add Expense</button><br>
        </div>
    </form>
    <form action="/splitgorithm/members" method="GET">
        <div>
            <button class="button" type="submit">Members homepage</button><br>
        </div>
    </form>
    <form action="/splitgorithm/expenses" method="GET">
        <div>
            <button class="button" type="submit">Expenses homepage</button><br>
        </div>
    </form>
    <form action="/splitgorithm/payments" method="GET">
        <div>
            <button class="button" type="submit">Payments</button><br>
        </div>
    </form>
    <form action="/splitgorithm/about" method="GET">
        <div>
            <button class="button" type="submit">About</button><br>
        </div>
    </form>
    <form action="/splitgorithm/welcome" method="GET">
        <div>
            <button class="button" type="submit">Sign Out</button>
        </div>
    </form>
</div>

<body>
    <section>
        <div class="content">
            <center>
                <h1>You are in, Manage Your Expenses</h1>
                <p>This is where data goes for <b>Expenses</b></p>
            </center>
        </div>
    </section>
</body>

</html>