<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses</title>
    <script src="/cdn/script/viewExpenses.js"></script>
    <script src="/cdn/script/viewExpenseContri.js"></script>
    
    <link rel="stylesheet" href="/cdn/css/homepage.css">
    <link rel="stylesheet" href="/cdn/css/members.css">
</head>

<div class="side-bar">
    <header>Splitgorithm</header><br>
    <form action="/splitgorithm/homepage" method="GET">
        <div>
            <button class="button" type="submit">Home</button><br>
        </div>
    </form>
    <form action="/splitgorithm/members" method="GET">
        <div>
            <button class="button" type="submit">Members</button><br>
        </div>
    </form>
    <form action="/splitgorithm/expenses" method="GET">
        <div>
            <button class="button" type="submit">Expenses</button><br>
        </div>
    </form>
    <form action="/splitgorithm/payments" method="GET">
        <div>
            <button class="button" type="submit">Payments</button><br>
        </div>
    </form>
    <form action="/splitgorithm/profile" method="GET">
        <div>
            <button class="button" type="submit">Profile</button><br>
        </div>
    </form>
    <form action="/splitgorithm/signOut" method="GET">
        <div>
            <button class="button" type="submit">Sign Out</button>
        </div>
    </form>
</div>

<body>
    <section>
        <div class="content">
            <center>
                <h1>Manage Your Expenses</h1>
            </center>
        </div>
    </form>
    <div>
    <form action="/splitgorithm/api/expenses" method="POST">
        <label for="expensename">Expense name</label><br/>
        <input type="text" name="expensename" placeholder="Enter name of expense"><br/>
        <label for="Amount">Cost</label><br/>
        <input type="number" name="cost" placeholder="Enter cost of expense"><br/>
        <label for="Payer">Payer</label><br/>
        <input type="text" name="payer" placeholder="Enter your username"><br/>
        <label for="Group Name">Group Name</label><br/>
        <input type="text" name="group" placeholder="Enter group name">
        <div class="post-expense">
            <button type="submit" class="button3" >Post Expense</button>
        </div>
    </form>  
        <button type="button" id="addexpense" style="width:10%" >View Expenses
        </button></div>
        <div> 
            <ol id="expenselist"></ol> 
         </div>   
         <div><p>To see how a certain expense was shared in your hoursehold</p></div> 
         <div><p>Enter your household name and the expense</p></div>    
         <div><form action="/splitgorithm/api/sendHouseExpenses" method="POST">
            <label for="Group Name">Group Name</label><br/>
            <input type="text" name="Group" placeholder="Enter group name"><br/>
            <label for="expensename">Expense name</label><br/>
            <input type="text" name="expensename" placeholder="Enter name of expense"><br/>
            <div class="post-viewHouseExpenses">
                <button type="submit" class="button3" >Submit</button>
            </div>
        </form></div>   
        <div><button type="button" id="viewOurExpenses" style="width:10%" >View Expense Contribution</button></div> 
        <div> 
            <ol id="contributionList"></ol> 
         </div>       
    </section>
</body>

</html>
