<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
    <script src="/cdn/script/viewMembers.js"></script>
    <link rel="stylesheet" href="/cdn/css/homepage.css">
</head>

<div class="side-bar">
    <header>Splitgorithm</header><br>
    <form action="/splitgorithm/homepage" method="GET">
        <div>
            <button class="button" type="submit">Home</button><br>
        </div>
    </form>
    <form action="/splitgorithm/members" method="GET">
        <div>
            <button class="button" type="submit">Members</button><br>
        </div>
    </form>
    <form action="/splitgorithm/expenses" method="GET">
        <div>
            <button class="button" type="submit">Expenses</button><br>
        </div>
    </form>
    <form action="/splitgorithm/payments" method="GET">
        <div>
            <button class="button" type="submit">Payments</button><br>
        </div>
    </form>
    <form action="/splitgorithm/about" method="GET">
        <div>
            <button class="button" type="submit">About</button><br>
        </div>
    </form>
    <form action="/splitgorithm/welcome" method="GET">
        <div>
            <button class="button" type="submit">Sign Out</button>
        </div>
    </form>
</div>

<body>
    <section>
        <div class="content">
            <center>
                <h1>Manage Household Members</h1>
            <p>Please Click On the Following Button to View Members</p>             
            <div class="btn-group" style="width:100%">
            <button type="button" id="addButton1" style="width:10%" >View members
            </button></div>
            <form action="/splitgorithm/members" method="GET">
                <div>
                    <p>Click here to add new member</p>
                    <button class="button" type="submit">Add Member</button><br>
                </div>
            </form>
            <form action="/splitgorithm/members" method="GET">
                <div>
                    <p>Click here to delete a member</p>
                    <button class="button" type="submit">Evict Member</button><br>
                </div>
            </form>
            <div> 
               <ol id="membersList"></ol> 
            </div>         
        </div>
    </center>
    </section>
    
</body>

</html>