<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
    <script src="/cdn/script/viewMembers.js"></script>
    <script src="/cdn/script/viewGroup.js"></script>
    <link rel="stylesheet" href="/cdn/css/homepage.css">
</head>

<div class="side-bar">
    <header>Splitgorithm</header><br>
    <form action="/splitgorithm/homepage" method="GET">
        <div>
            <button class="button" type="submit">Home</button><br>
        </div>
    </form>
    <form action="/splitgorithm/members" method="GET">
        <div>
            <button class="button" type="submit">Members</button><br>
        </div>
    </form>
    <form action="/splitgorithm/expenses" method="GET">
        <div>
            <button class="button" type="submit">Expenses</button><br>
        </div>
    </form>
    <form action="/splitgorithm/payments" method="GET">
        <div>
            <button class="button" type="submit">Payments</button><br>
        </div>
    </form>
    <form action="/splitgorithm/profile" method="GET">
        <div>
            <button class="button" type="submit">Profile</button><br>
        </div>
    </form>
    <form action="/splitgorithm/signOut" method="GET">
        <div>
            <button class="button" type="submit">Sign Out</button>
        </div>
    </form>
</div>

<body>
    <section>
        <div class="content">
            <center>
                <h1>Manage Household Members</h1>
            <p>Please Click On the Following Button to View Members</p>             
            <div class="btn-group" style="width:100%">
            <button type="button" id="addButton1" style="width:10%" >View members
            </button></div> </center>
            <div> 
               <ol id="membersList"></ol> 
            </div>         
        </div>
   
    <form action="/splitgorithm/api/creategroup" method="post">
        <div><label for="GroupName">Group Name:</label></div>
        <div><input type="text" id="groupname" name="groupName"></div>
        <div><label for="UserName">Enter your username</label></div>
        <div><input type="text" id="username" name="userName"></div>
        <div class="button">
            <button type="submit">create group</button>
        </div>
    </form>
    <div>  <form action="/splitgorithm/api/joingroup" method="post">
        <div><label for="GroupName">Enter the name of group you want to join:</label></div>
        <div><input type="text" id="groupname" name="groupName"></div>
        <div><label for="UserName">Enter your username</label></div>
        <div><input type="text" id="username" name="userName"></div>
        <div class="button">
            <button type="submit">join group</button>
        </div>
    </form></div>
    <center>
        <div class="btn-group" style="width:100%">
            <button type="button" id="addButton2" style="width:10%" >Click here to see groups</button>
        </div>
    </center>
    <div>
        <ol id="groupNames"></ol>
    </div>
    </section>
    
</body>

</html>