<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payments</title>
    <link rel="stylesheet" href="/cdn/css/homepage.css">
    <script src="/cdn/script/payments.js"></script>
</head>

<div class="side-bar">
    <header>Splitgorithm</header><br>
    <form action="/splitgorithm/homepage" method="GET">
        <div>
            <button class="button" type="submit">Home</button><br>
        </div>
    </form>
    <form action="/splitgorithm/members" method="GET">
        <div>
            <button class="button" type="submit">Members</button><br>
        </div>
    </form>
    <form action="/splitgorithm/expenses" method="GET">
        <div>
            <button class="button" type="submit">Expenses</button><br>
        </div>
    </form>
    <form action="/splitgorithm/payments" method="GET">
        <div>
            <button class="button" type="submit">Payments</button><br>
        </div>
    </form>
    <form action="/splitgorithm/profile" method="GET">
        <div>
            <button class="button" type="submit">Profile</button><br>
        </div>
    </form>
    <form action="/splitgorithm/signOut" method="GET">
        <div>
            <button class="button" type="submit">Sign Out</button>
        </div>
    </form>
</div>

<body>
    <section>
        <div class="content">
        <center>
            <h1>HouseHold Payment Management</h1>
        </center>
        </div>
        <div>  
        <form action="/splitgorithm/api/settleExpense" method="POST">
                <div>
                    <P> This is where we proces ur payment </P>
                <label for="Group">Group Name</label><br/>
                <input type="text" name="group"  id="group" placeholder="Enter group name"><br/>
                <label for="Group">Expense being settled: </label><br/>
                <input type="text" name="expensename"  id="settle" placeholder="Pleas enter the name of the expense u are setting"><br/>
                <div>
                    <p>Click here to Process your payment</p>
                    <button class="button" type="submit">Process Payment</button><br>
                </div>
                </div>
        </form>
        <form action="/splitgorithm/api/payments" method="POST">
            <label for="username">Username</label><br/>
            <input type="text" name="payer" placeholder="Enter your username"><br/>
            <label for="Group">Group Name</label><br/>
            <input type="text" name="group"  id="group" placeholder="Enter group name"><br/>
            <div>
                <p>Click here to view your balance</p>
                <button class="button" type="submit">Submit</button><br>
            </div>
           
        </form> 
        <button type="button" id="addBalance" style="width:10%" >View Balance
        </button>
        <div> 
            <ol id="balance"></ol> 
        </div>   
        
        <form action="/splitgorithm/payments" method="GET">
            <div>
                <p>Click here to view your payment history</p>
                <button class="button" type="submit">View Statement</button><br>
            </div>
        </form>
        </div>    
    </section>
</body>

</html>