<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payments</title>
    <link rel="stylesheet" href="/cdn/css/homepage.css">
    <script src="/cdn/script/payments.js"></script>
    <link rel="stylesheet" href="/cdn/css/payments.css">
</head>

<div class="side-bar">
    <header>Splitgorithm</header><br>
    <form action="/splitgorithm/homepage" method="GET">
        <div>
            <button class="button" type="submit">Home</button><br>
        </div>
    </form>
    <form action="/splitgorithm/members" method="GET">
        <div>
            <button class="button" type="submit">Members</button><br>
        </div>
    </form>
    <form action="/splitgorithm/expenses" method="GET">
        <div>
            <button class="button" type="submit">Expenses</button><br>
        </div>
    </form>
    <form action="/splitgorithm/payments" method="GET">
        <div>
            <button class="button" type="submit">Payments</button><br>
        </div>
    </form>
    <form action="/splitgorithm/profile" method="GET">
        <div>
            <button class="button" type="submit">Profile</button><br>
        </div>
    </form>
    <form action="/splitgorithm/signOut" method="GET">
        <div>
            <button class="button" type="submit">Sign Out</button>
        </div>
    </form>
</div>

<body>
    <section>
        <div class="content">
        <center>
            <h1>HouseHold Payment Management</h1>
        </center>
        </div>
        <div class="settle">  
            <form action="/splitgorithm/api/settleExpense" method="POST">
                    <h2> Payment proccessing </h2>
                    <label for="Group">Group Name:</label>
                    <input type="text" name="group"  id="group" placeholder="Enter group name"><br/>
                    <label for="Group">Expense being settled: </label>
                    <input type="text" name="expensename"  id="settle" placeholder="Pleas enter the name of the expense u are setting"><br/>
                    <div>
                        <button class="button1" type="submit">Process Payment</button><br>
                    </div>
                    </div>
            </form>
        </div>
        <div class="payments">
            <h2>View your balance</h2>
            <form action="/splitgorithm/api/payments" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="payer" placeholder="Enter your username"><br/>
            <label for="Group">Group Name:</label>
            <input type="text" name="group"  id="group" placeholder="Enter group name"><br/>
            <div>
                <button class="button2" type="submit">Submit</button><br>
            </div>
            </form> 
        </div>
        <button type="button" id="addBalance" class="button3" >View Balance
        </button>
        <div> 
            <ol id="balance" class="list"></ol> 
        </div>   
        </div>    
    </section>
</body>

</html>