<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/cdn/css/homepage.css">   
</head>

<div class="side-bar">
    <header>Splitgorithm</header><br>
    <form action="/splitgorithm/homepage" method="GET">
        <div>
            <button class="button" type="submit">Home</button><br>
        </div>
    </form>
    <form action="/splitgorithm/members" method="GET">
        <div>
            <button class="button" type="submit">Members</button><br>
        </div>
    </form>
    <form action="/splitgorithm/expenses" method="GET">
        <div>
            <button class="button" type="submit">Expenses</button><br>
        </div>
    </form>
    <form action="/splitgorithm/payments" method="GET">
        <div>
            <button class="button" type="submit">Payments</button><br>
        </div>
    </form>
    <form action="/splitgorithm/profile" method="GET">
        <div>
            <button class="button" type="submit">Profile</button><br>
        </div>
    </form>
    <form action="/splitgorithm/about" method="GET">
        <div>
            <button class="button" type="submit">About</button><br>
        </div>
    </form>
    <form action="/splitgorithm/welcome" method="GET">
        <div>
            <button class="button" type="submit">Sign Out</button>
        </div>
    </form>
</div>

<body>
    <section>
        <div class="content">
            <center>
                    <h1>Your profile</h1>
                    <form action="/splitgorithm/api/profile" method="post">
                    <div><label for="CurrentUsername">Current Username:</label></div>
                    <div><input type="text" id="username" name="currentusername"></div>
                    <div><label for="newUsername">New Username:</label></div>
                    <div><input type="text" id="username" name="newusername"></div>
                    <div><label for="MemberEmail" >Email:</label></div>
                    <div><input type="text" id="memberemail" name="newemail"></div>
                    <div class="button">
                        <button type="submit">Update Profile</button>
                    </div>
                </form>
                <button type="button" id="profile" style="width:10%" >View Profile
                </button></div>
                <div> 
                    <ol id="Profile"></ol> 
                 </div>   
            </center>
        </div>
    </section>
</body>

</html>