<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
    <script src="/cdn/script/viewMembers.js"></script>
    <script src="/cdn/script/viewGroup.js"></script>
    <link rel="stylesheet" href="/cdn/css/members.css">
</head>

<div class="side-bar">
    <header>Splitgorithm
        <!-- <img src="/cdn/images/logo.jpg" alt="CSGO Howl" style="float:left" ;> -->
    </header>
    <form action="/splitgorithm/homepage" method="GET">
        <div>
            <button class="button" type="submit">Home</button><br>
        </div>
    </form>
    <form action="/splitgorithm/members" method="GET">
        <div>
            <button class="button" type="submit">Members</button><br>
        </div>
    </form>
    <form action="/splitgorithm/expenses" method="GET">
        <div>
            <button class="button" type="submit">Expenses</button><br>
        </div>
    </form>
    <form action="/splitgorithm/payments" method="GET">
        <div>
            <button class="button" type="submit">Payments</button><br>
        </div>
    </form>
    <form action="/splitgorithm/profile" method="GET">
        <div>
            <button class="button" type="submit">Profile</button><br>
        </div>
    </form>
    <form action="/splitgorithm/welcome" method="GET">
        <div>
            <button class="button" type="submit">Sign Out</button>
        </div>
    </form>
</div>

<body>
    <section>
        <div class="content" id="buttons">
            <center>
                <h1>Household Membership</h1>
                <button type="button" id="addButton1" class="buttons1  active">Groups</button>
                <!--
            --><button type="button" id="addButton2" class="buttons1" href="#">Members</button>
                <!-- 
            --><button type="button" id="addButton3" class="buttons1">Other</button>
            </center>
            <div>
                <ol id="membersList"></ol>
            </div>
        </div>
        <span class="line"></span>
        </script>
    </section>
</body>

</html>