
<style type="text/css">
    body {
        font-family: arial;
        font-size: 14px;
    }

    .block {
        width: 330px;
        padding-bottom: 30px;
    }

    .block h2 {
        margin: 0;
        padding: 10px 0 0 15px;
        font-size: 16px;
    }

    p {
        width: 300px;
        margin: 0 auto;
    }

    .effect {
        /* border: 3px solid #666; */
        /* -moz-box-shadow: 0px 0px 3px #333;
        -webkit-box-shadow: 3px 3px 3px #333;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px; */
        background: -moz-linear-gradient(center bottom, #CACACA 9%, #ECECEC 92%) repeat scroll 0 0 transparent;
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0.09, rgb(202, 202, 202)), color-stop(0.92, rgb(236, 236, 236)))
    }
</style>


<div class="block effect">
    <h2>Header</h2>
    <p>Note: You need latest version of Firefox, Chrome or Safari to see this. I guess this would become one of the
        famous solution soon. Pure CSS Solution, no extra html code, just styling. Though the CSS3 standards are not
        implemented by all browsers some of the websites have already started using it. There are a lot of hacks for IE
        to make it read CSmcS3Note: You need latest version of Firefox, Chrome or Safari to see this. I guess this would become one of the
        famous solution soon. Pure CSS Solution, no extra html code, just styling. Though the CSS3 standards are not
        implemented by all browsers some of the websites have already started using it. There are a lot of hacks for IE
        to make it read CSmcS3.</p>
</div>