<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/cdn/css/welcome.css" >
    <script src="/cdn/script/welcome.js"></script>
</head>

<body>
    <header>
        <!-- Content -->
        <div class="content">
            <div class="split left">
                <div class="text-left">
                    <h1 class="title">Get your bills managed with SPLITGORITHM</h1>
                    <h2 class="subtitle">A residential household bill allocation system <br>which takes care of your home expenses</p>
                </div>
                <div class="paybills">
                    <img src="/cdn/images/pay.png" alt="" class="bills">
                    <form action="/splitgorithm/signup" method="GET">
                    <button type = "submit" class="button1">Sign up</button>
                    </form>
                </div>
            </div>
            <div class="split right">
                <div class="text-right">
                    <h1 class="welcome">Welcome back</h1>
                    <div class="input">
                        <form action="/splitgorithm/api/welcome" method="POST">
                            <label for="Username">Username</label><br/><br/>
                            <input type="text" name="username" placeholder="Enter your Username"><br/><br/>
                            <label for="Password">Password</label><br/><br/>
                            <input type="password" id="password" name="password" placeholder="Enter your Password">
                            <button class="ui-component__password-field__show-hide" type="button" onclick="toggle(this);">Show</button>
                            <div class="sign-in">
                                <button type="submit" class="button2" >Sign in</button>
                            </div>
                        </form>
                        <form action="/splitgorithm/api/generateCode" method="POST">
                            <button type="submit" class="button3">Forgot password?</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>